.profile-pic {max-width: 100%;}
.profile-title {color:#4f1272;font-family: 'Handlee', cursive;}
.SPOT { color:#81b71a; }
.FACE {color:#3b5998;}
.LINK {color:navy;}
.INSTA {color:#fb3958;}
body {font-family: 'Roboto Slab', serif; background-color: #cc9dc0}
.my-nav {color:#4f1272;font-family: 'Handlee', cursive; background-color: #cfc6d1; font-style:italic;}

.weightloss-progress {background-color: red;}
.fleekiness {background-color: green;}

img { max-width: 100% }
.home {background-image: url("../img/tree.jpg");
background-size:cover;}
.jumbotron {background-color: white; }


.intro-front {font-family: 'Handlee', cursive; color:black;}

.nav-bounce:hover {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

.blog1 {color:navy; font-family: 'Handlee', cursive; background: none; font-style:bold
}
.lsc { max-width: 50%;}
.petchey {color:violet;max-width: 50%;}
.bullet-point {text-indent: 10%;}